.underline-link {
  display: inline-block; /* 텍스트 크기만큼 영역 제한 */
  border-bottom: 2px solid black; /* 밑줄 설정 */
  cursor: pointer; /* 클릭 가능 표시 */
  text-align: center; /* 중앙 정렬 */
  margin: 0 auto; /* 여백 자동 설정 */
}


.underline-link:hover {
  color: #007bff; /* 호버 시 텍스트 색상 변경 */
  border-bottom-color: #007bff; /* 호버 시 밑줄 색상 변경 */
}

.mystore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 세로 정렬 */
  min-height: 85vh; /* 화면 높이를 조금 더 줄임 */
  /* background-color: #f9f9f9; */
}

.register-container {
  display: flex;
  flex-direction: column; /* 이미지와 텍스트를 세로 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  text-align: center;
  margin-top: -500px; /* 전체 컨테이너를 더 위로 이동 */
}

.register-image {
  width: 200px; /* 이미지 크기 조정 */
  height: auto;
  margin-bottom: 20px; /* 이미지와 텍스트 사이 여백 */
}

.store-register-text {
  font-size: 24px;
  color: #ff4d4f;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.store-register-text:hover {
  color: #ff7875;
}
