.user-container {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 가로 가운데 정렬 */
  justify-content: center; /* 세로 가운데 정렬 */
  height: auto; /* 화면 전체 높이 */
  background-color: #f9f9f9; /* 배경색 (선택 사항) */
}

.logoImage {
  width: 218px; /* 로고 크기 조정 */
  margin-bottom: 40px; /* 폼과 간격 */

}

.userTitle{
  text-align: center;
  font-size: 32px;
}

.divider {
  border: none; /* 기본 테두리 제거 */
  border-top: 3px solid #000000; /* 윗부분에 선 추가 */
  margin: 20px 0; /* 위아래 간격 */
  width: 100%; /* 로그인 버튼과 비슷한 너비 */
  align-self: center; /* 중앙 정렬 */
  margin-bottom: 8%;
}

.signup-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px; /* 너비를 고정값으로 설정 */
  padding: 10px; /* 내부 여백 추가 */
  margin: 0 auto; /* 중앙 정렬 */
}

.signup-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px; /* 너비를 고정값으로 설정 */
  padding: 10px; /* 내부 여백 추가 */
  margin: 0 auto; /* 중앙 정렬 */
}

.form-group {
  display: flex; /* 가로 정렬 */
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5%;
}

label {
  width: 30%; /* label의 고정 너비 */
  text-align: left; /* 텍스트 오른쪽 정렬 */
  font-size: 16px; /* label 텍스트 크기 */
}

input {
  width: 70%; /* 고정된 너비 */
  height: 48px; /* 높이 증가 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px; /* 글자 크기 증가 */
  box-sizing: border-box; /* 패딩 포함 */
}

.button {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 20px;
  background-color: #FD5e53;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}
